@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <h1 class="display-4">Jestes zalogowany</h1>
    }
    else
    {
        <h1 class="display-4">Jestes niezalogowany</h1>
    }
</div>
