@using Microsoft.AspNetCore.Identity
@using TaiMvc.Controllers
@model HomeModel
@{
    ViewData["Title"] = "Home page";
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
   

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (Model != null && Model.List != null)
        {
            <h3>Pobieranie Zwykłe</h3>
            @foreach (var fileName in Model.List)
            {
                <h5>@Html.ActionLink(fileName, "DownloadFile", "FileOperation", new { fileName = fileName})</h5>
                
            }
            <h3>Pobieranie Strumieniowe</h3>
            @foreach (var fileName in Model.List)
            {
                if (fileName.EndsWith(".aes"))
                {
                    <h5>@Html.ActionLink(fileName, "StreamEncodingDownloadFile", "FileOperation", new { fileName = fileName})</h5>
                }
                else
                {
                    <h5>@Html.ActionLink(fileName, "StreamDownloadFile", "FileOperation", new { fileName = fileName})</h5>
                }
            }
        }
        else
        {
            <h3>Brak plików do pobrania</h3>
        }
    }
    else
    {
        <h1>Proszę się zalogować</h1>
    }
</div>
