@*
    Files operations - upload + download


	DLA PRZESYŁU POJEDYNCZEGO PLIKU.....
	<form method="post" enctype="multipart/form-data">
	 <input type="file" name="file" /> 
    	<button type="submit">Upload</button>
     </form>
*@

<h2>Basic File Upload</h2>


<form method="post" enctype="multipart/form-data">
	<input type="file" name="files" multiple />
	<button type="submit">Upload</button>
</form>

<!-- To show the success message to the user  -->
@if (ViewBag.Message != null)
{
	<div class="alert alert-success" style="margin-top:50px">
		@ViewBag.Message
	</div>

}
<h2>Basic File Download</h2>

<p style="margin-top: 50px">List of Files</p>
<!-- Get all the files from the server -->
<ul>
	@foreach (var item in Model.Files)
	{
		<li>
			<a asp-action="Download"
			   asp-route-filename="@item.Name">
				@item.Name
			</a>
		</li>
	}
</ul>




