@*
    FILE T0 UPLOADS
*@
<add namespace="System.Web.Mvc.Ajax" />


<div>
    <h4>Zwykły upload</h4>
    <form asp-controller="FileOperation" asp-action="OperationUpload"
          enctype="multipart/form-data" method="post">
        <input type="file" name="file" />
        <button type="submit">Prześlij</button>
    </form>

    <h4>Upload z hasłem</h4>
    <form asp-controller="FileOperation" asp-action="OperationUploadEncryption"
          enctype="multipart/form-data" method="post">
        <input type="file" name="file" />
        <button type="submit">Prześlij</button>
    </form>


    <h4>Stream Upload</h4>
    <form method="post" enctype="multipart/form-data" action="UploadStream">
        <div>
            <p>Upload one or more files using this form:</p>
            <input type="file" name="files" multiple />
        </div>
        @*<div>
            <p>Your Username</p>
            <input type="text" name="username" />
        </div>*@
        <div>
            <input type="submit" value="Upload" />
        </div>
    </form>

    <h4>Stream Upload</h4>
    <form id="uploadForm" action="UploadStream" method="post"
          enctype="multipart/form-data" onsubmit="AJAXSubmit(this);return false;">
        <dl>
            <dt>
                <label for="file">File</label>
            </dt>
            <dd>
                <input id="file" type="file" name="file" />
            </dd>
        </dl>

        <input class="btn" type="submit" value="Upload" />

        <div style="margin-top:15px">
            <output form="uploadForm" name="result"></output>
        </div>
    </form>
</div>

@section Scripts {
  <script>
    "use strict";
    async function AJAXSubmit (oFormElement) {
      const formData = new FormData(oFormElement);
      try {
        const response = await fetch(oFormElement.action, {
          method: 'POST',
          headers: {
            'RequestVerificationToken': getCookie('RequestVerificationToken')
          },
          body: formData
        });
        oFormElement.elements.namedItem("result").value = 
          'Result: ' + response.status + ' ' + response.statusText;
      } catch (error) {
        console.error('Error:', error);
      }
    }
    function getCookie(name) {
      var value = "; " + document.cookie;
      var parts = value.split("; " + name + "=");
      if (parts.length == 2) return parts.pop().split(";").shift();
    }
  </script>
}