@*
     PLIK DO UPLOADD
*@
<div>
    <h4>Single File Upload</h4>
    <form asp-controller="FileOperation" asp-action="OperationUpload"
          enctype="multipart/form-data" method="post">
        <input type="file" name="file" />
        <button type="submit">Submit</button>
    </form>
</div>