@*
    FILE T0 UPLOADS
*@
<add namespace="System.Web.Mvc.Ajax" />


<div>
    <h4>Zwykły upload</h4>
    <form asp-controller="FileOperation" asp-action="OperationUpload"
          enctype="multipart/form-data" method="post">
        <input type="file" name="file" />
        <button type="submit">Prześlij</button>
    </form>

    <h4>Upload z hasłem</h4>
    <form asp-controller="FileOperation" asp-action="OperationUploadEncryption"
          enctype="multipart/form-data" method="post">
        <input type="file" name="file" />
        <button type="submit">Prześlij</button>
    </form>

    <h4>Upload strumieniowy</h4>
    <form asp-controller="FileOperation" asp-action="UploadFile"
          enctype="multipart/form-data" method="post">
        <input type="file" name="file" />
        <button type="submit">Prześlij</button>
    </form>
    <script type="text/javascript">
function uploadFile() {        
    var xhr = new XMLHttpRequest();                 
    var file = document.getElementById('myfile').files[0];
    xhr.open("POST", "api/upload");
    xhr.setRequestHeader("filename", file.name);
    xhr.send(file);
}

</div>

